#branding h1.page-title {
  width: 100%;
  text-align: center;
  float: none;
}

#page {
  width: 360px;
  margin: 0 auto;
}

form input[type=text],
form input[type=password] {
  width: 100%;
}

form .form-actions {
  text-align: center;
}
